<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D40D6DC6-B20A-4EE7-8556-0C92B3AAD891</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
