<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>P.alt</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-18</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.period</key>
      <integer>-55</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.T.alt</key>
      <integer>-10</integer>
      <key>public.kern2.Y.alt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.Z</key>
      <integer>-18</integer>
      <key>public.kern2.a</key>
      <integer>-12</integer>
      <key>public.kern2.g.salt</key>
      <integer>-7</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.J.alt</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Y.alt</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-28</integer>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-15</integer>
      <key>public.kern2.quotedbl</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-18</integer>
      <key>public.kern2.J</key>
      <integer>-19</integer>
      <key>public.kern2.Z</key>
      <integer>-24</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.g.salt</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
      <key>public.kern2.period</key>
      <integer>-65</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-42</integer>
      <key>public.kern2.a</key>
      <integer>-22</integer>
      <key>public.kern2.colon</key>
      <integer>-25</integer>
      <key>public.kern2.g.salt</key>
      <integer>-38</integer>
      <key>public.kern2.hyphen</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.s</key>
      <integer>-22</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-21</integer>
      <key>public.kern2.z</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-18</integer>
      <key>public.kern2.a</key>
      <integer>-18</integer>
      <key>public.kern2.colon</key>
      <integer>-25</integer>
      <key>public.kern2.g.salt</key>
      <integer>-21</integer>
      <key>public.kern2.o</key>
      <integer>-14</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-28</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-12</integer>
      <key>public.kern2.g.salt</key>
      <integer>-19</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.quotedbl</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g.salt</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-25</integer>
      <key>public.kern2.period</key>
      <integer>-65</integer>
    </dict>
    <key>tbar</key>
    <dict>
      <key>hyphen</key>
      <integer>15</integer>
    </dict>
    <key>tbar.alt</key>
    <dict>
      <key>hyphen</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
