<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1D1C7B70-CA12-4179-8392-5E7E22663249</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
