<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>164C5B94-0740-4D92-BB91-2451E2D9CF3B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili.sc</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
