<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4CC720FC-900F-4A83-AC07-58AB316AC62D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.betaSymbol.alt</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
