<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D9C0D220-AF11-438C-8D9D-76B83D470B59</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili.sc</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
