<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>613A4387-CFB3-40B1-990A-7310F2E5409C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z_H</key>
      <integer>18</integer>
    </dict>
  </dict>
</plist>
