<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>975F2A50-99B7-47EB-AF2F-94DFA0A15C14</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
