<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>80A12833-90E6-4FCF-ACBB-9E92C51F5380</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
